.winnerText{
    font-family: DM Sans;
    font-weight: bold;
    font-size: 2.7rem;
    color: #323232;
    letter-spacing: 0.1rem;
}

.centerDiv{
    width: 60vw;
    height: 80vh;
    margin-left: 20vw;

}

.tableTitle{
    margin-top: -3rem;;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

.name{
    margin-left: -5rem;
    margin-right: 8rem;
}