.outerDiv{
    background: #ffffff;
    color:#4285F4;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.5rem;
    margin: 1.6rem;
    margin-top: .2rem;
}

.name{
    display: flex;
    justify-content: space-evenly;
}
.margin{
    margin-left:3rem;
}