.profilePage {
  background-image: url('../../Assets/Images/backgroundImg.svg');
  background-color: #e8f0ff;
  position: absolute;
  width: 100%;
  height: 100%;
}

.labdetailcss {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2vw;
  width: 56rem;
  margin-left: 26.5%;
  border-radius: 20px;
}
