.headerDiv {
   display: flex;
   justify-content: space-between;
   height: 3.8rem;
   background: #ffffff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 1.3rem;
   color: #515151;
   font-weight: 550;
}

.headerImage {
   height: 1.5rem;
   padding: 0 1rem;
}

.collegeImage {
   height: 2.8rem;
   margin: 0.5rem;
}
.nav-left {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 4rem;
}
.nav-text {
   width: fit-content;
}
