.main_Box {
  background: #f3f8ff;
  border-radius: 8px;
  width: 54rem;
  margin: 2rem;
}

.trackName {
  font-size: 24px;
  color: #4285f4;
  display: flex;
  margin:0 0 0 1.8rem;
  padding-top: 1rem;
}

.trackdetails {
  display: flex;
}

.track2 {
  margin: 2rem 0 5rem 0;
}

.scrolllab {
  height: 54vh;
  overflow-y: scroll;
}
.scrolllab::-webkit-scrollbar {
  width: 11px;
}

.scrolllab {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.circular {
  margin-left: 40rem;
  width: 100px;
  height: 100px;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
  margin-top: -11rem;
}

.circular .CircularProgressbar-path {
  stroke: #4285f4;
}
.circular .CircularProgressbar-trail {
  stroke: #e8f0ff;
}
.circular .CircularProgressbar-text {
  fill: #4285f4;
  text-align: center;
}
.circular .CircularProgressbar-background {
  fill: #4285f4;
}
