.card {
  width: 250px;
  height: 100%;
  background-color: #4285f4;
  color: white;
  border-radius: 10px;
  text-align: left;
  font-family: "Product Sans";
  padding: 1rem;
  border-bottom-left-radius: 10px;
}
.card-margin {
  margin-left: 7rem;
  margin-top: -7rem;
  line-height: 10px;
}

.card_image img {
  width: 35%;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
/* .name {
  text-align: center;
}
.score {
  text-align: left;
}
.badges {
  text-align: left;
} */
.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
