.navbar {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 3.5rem;
  width: 100%;
}

.navbar img {
  margin-left: 1.7rem;
  height: 50px;
  width: 50px;
}

.heading {
  margin-left: 0.5rem;
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16.3721px;
  line-height: 20px;

  color: #515151;
}

.profileImg {
  position: relative;
  width: 40px;
  height: 40px;
  left: 1210px;
  /* justify-content: center; */
  top: 5px;
}
